.monmagasin{
    .infoblock{
        @include withtxtparams;
        ul{
            @include cleanmyul;
            li{
                form{
                    display: inline-block;
                    input{
                        display: inline-block !important;
                    }
                    input[type='submit']{
                        max-width: 30px;
                        min-width: 30px;
                        display: inline-block !important;
                    }
                }
                button{
                    @include backofficebtn01;
                }
            }
        }
    }
}
