.slideshowcontainer{
    display: flex;
    position: relative;
    background-color: #fff;
    height: 70vh;
    width: 100%;
    // padding: $defaultvalue02;
    .imgpart{
        @include stdparams;
        // original
        display: flex;
        align-items: center;
        width: 70%;
        height: 100%;
        overflow: hidden;
        .mainimage{
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: 1s ease-in-out;
            .slidebox{
                display: none;
            }
            .showme{
                display: block;
                position: absolute;
                // left: 0;
                height: 100%;
                width: 100%;
                // margin: 0 10px;
                transition: 1s ease-in-out;
                overflow: hidden;
                img{
                    display: block;
                    position: relative;
                    height: 100%;
                    width: auto;
                    margin: auto;
                    // top: 0;
                    // left: 200px;
                    cursor: pointer;
                }
                .slidebtn01{
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 20%;
                    top: 75%;
                    transform: translateY(-25%);
                    @include softbutton;
                    background-color: #ffffffa8;
                    color: $darker;
                    font-size: 1.3rem;
                    margin: 0;
                    padding: 0 $defaultvalue03;
                    &:hover{
                        color: $color07;
                    }
                }
                .slidebtn02{
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 10%;
                    bottom: 0;
                    // top: 80%;
                    // transform: translateY(-20%);
                    @include softbutton;
                    background-color: #23293d93;
                    color: whitesmoke;
                    font-size: 1.1rem;
                    margin: 0;
                    padding: 0 $defaultvalue03;
                }
            }
            img{
                height: auto;
                width: 100%;
            }
        }
        // .mainimage02{
        //     display: flex;
        //     position: relative;
        //     height: 100%;
        //     width: 300vw;
        //     left: 0;
        //     background-color: purple;
        //     // .slidebox{
        //     //     display: none;
        //     // }
        //     .showme{
        //         display: block;
        //         position: relative;
        //         height: 100%;
        //         width: 500px;
        //         margin: 0 10px;
        //         transition: 1s ease-in-out;
        //         left: 240px;
        //         img{
        //             position: absolute;
        //             top: 0;
        //             height: auto;
        //             width: 100%;
        //             cursor: pointer;
        //         }
        //         .slidebtn01{
        //             position: absolute;
        //             display: block;
        //             width: 100%;
        //             top: 70%;
        //             transform: translateY(-30%);
        //             @include softbutton;
        //             background-color: #ffffffa8;
        //             color: $darker;
        //             font-size: 2.5rem;
        //             margin: 0;
        //             padding: 0 $defaultvalue03;
        //             &:hover{
        //                 color: $color07;
        //             }
        //         }
        //         .slidebtn02{
        //             position: absolute;
        //             display: block;
        //             width: 100%;
        //             top: 80%;
        //             transform: translateY(-20%);
        //             @include softbutton;
        //             background-color: #23293d93;
        //             color: whitesmoke;
        //             font-size: 1.5rem;
        //             margin: 0;
        //             padding: 0 $defaultvalue03;
        //         }
        //     }
        //     .image00{
        //         left: 40px;
        //         // display: none;
        //     }
        // }
        .leftchevron{
            z-index: 1;
            &:hover::after{
                background-color: $mylight;
                color: #23293d93;
            }
            &::after{
                content: '<';
                // left: -20px;
                @include chevronafter;
            }

        }
        .rightchevron{
            z-index: 1;
            &:hover::after{
                background-color: $mylight;
                color: #23293d93;
            }
            &::after{
                content: '>';
                right: 0;
                @include chevronafter;
            }
        }
    }
    .productpart{
        @include stdparams;
        height: 100%;
        width: 30%;
        .listcontainer{
            width: 100%;
                select{
                    display: block;
                    height: 40px;
                    border: none;
                    box-shadow: none;
                    color: $darker;
                    width: 100%;
                    background-color: $mylight;
                    cursor: pointer;
                    border-radius: 0;
                    padding: $defaultvalue $defaultvalue02;
                    &:hover{
                        color: $mydark;
                    }
                }
        }
        .listcontainer02{
            @include withtxtparams;
            padding: 0;
            width: 100%;
            margin: 0;
            height: 100%;
            border-radius: 0;
            overflow-y: scroll;
            .simpleproductbox{
                display: flex;
                border-bottom: solid 1px $mylight;
                .productthumbnail{
                    width: 20%;
                    img{
                        height: auto;
                        width: 100%;
                    }
                }
                .productinfos{
                    width: 80%;
                    padding-left: $defaultvalue;
                    overflow: hidden;
                    .productname{
                        button{
                            @include softbutton;
                            background-color: #fff;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}