*{
  box-sizing: border-box;
  border-radius: 2px;
}

$color01 : #FAD095;
$color02 : #FABF96;
$color03 : #FADC96;
$color04 : #FAAD96;
$color05 : #FAE896; 
$color06 : #FAECD9;

$mydark : #22303C;
$darker : #23293D;
$mylight : #c3ced7;
$color07 : #4C5B68;
$color08 : #838B92;
$color09 : #8AA5BD;
$color10 : #82B8E7;
$styletext : #f0ad4e;

$coolgreen : #33b864;
$coolgreen02 : #aaffaa;

// defaultvalue
$defaultvalue : 0.3rem;
$defaultvalue02: 0.5rem;
$defaultvalue03: 1rem;
$defaultvalue04: 2rem;
$defaultradius : 3px;
$defaultshadow : 0 0 15px rgba(0, 0, 0, 0.1);
$defaultshadow02 : 0 0 10px rgba(0, 0, 0, 0.05);
$defaultshadow03 : 0 0 25px rgba(37, 18, 18, 0.05);
$defaultdarkbg : radial-gradient(circle at center, $mydark, $darker);
$defaultborder : solid 1px $mylight;
$white : whitesmoke;
$extraHeight: 100px;

@mixin stdparams{
  position: relative;
  display: block;
  width: 100%;
}
@mixin principalban{
  position: inherit;
  display: block;
  width: 100%;
  height: 40vh;
  background-color: $mydark;
}
@mixin withtxtparams{
  position: relative;
  display: block;
  min-width: 50%;
  width: fit-content;
  margin: $defaultvalue02;
  padding: $defaultvalue03 $defaultvalue04;
  border: solid 1px $mylight;
  border-radius: $defaultradius;
}
@mixin lateralleftcol{
  position: relative;
  width: 15%;
  min-height: 60vh;
  background-color: $mydark;
}
@mixin pplcol{
  position: relative;
  width: 85%;
  min-height: 60vh;
  background-color: $white;
  padding: 0 $defaultvalue04 $defaultvalue04;
}

@mixin stdbtncolor{
  background-color: $mylight;
  color: $mydark;
  text-decoration: none;
  cursor: pointer;
  &:hover{
      background-color: $mydark;
      color: $mylight;
  }
}

@mixin cleanmyul{
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin stdlink01{
  color: $mylight;
  text-decoration: none;
  cursor: pointer;
  &:hover{
      color: $white;
  }
}

@mixin titleafter{
  content: "";
  position: absolute;
  height: 5px;
  border-radius: $defaultradius;
  width: 30%;
  background-color: $color07;
  left: 0;
  top: 25px;
}
@mixin chevronafter{
  position: absolute;
  text-align: center;
  font-size: 2.7rem;
  font-weight: bold;
  background-color: #23293d93;
  color: $mylight;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}
@mixin backofficebtn01 {
  @include stdbtncolor;
  position: relative;
  // border-radius: $defaultradius;
  border: $defaultborder;
  padding: $defaultvalue02 $defaultvalue04;
  margin: 0.1rem;
  cursor: pointer;
  box-shadow: $defaultshadow02;
  max-width: 350px;

}
@mixin softbutton{
  margin: $defaultvalue;
  display: block;
  border: none;
  box-shadow: none;
  padding: $defaultvalue;
  background-color: $white;
  color: $color08;
  cursor: pointer;
  &:hover{
      color: $darker;
  }
}

@mixin lateralbobtn{
  display: block;
  position: relative;
  width: 100%;
  padding: $defaultvalue02;
  border: none;
  border-radius: 0;
  border-bottom: solid 1px $white;

  @include stdbtncolor;
}

@mixin myinput{
  display: block;
  min-width: 100px;
  width: 100%;
  max-width: 350px;
  box-shadow: $defaultshadow02;
  padding: $defaultvalue02;
  margin: $defaultvalue;
  border-radius: $defaultradius;
  border: solid 1px $mylight;
  height: 35px;
}

@mixin flexbarr{
  position: relative;
  display: flex;
  width: 90%;
  margin: auto;
}

@font-face {
  font-family: nunito;
  src: url('../../public/fonts/Nunito-Italic-VariableFont_wght.ttf');
}
*{
  box-sizing: border-box;
  // transition: 1s;
}
body{
  // height: 100vh;
  // overflow-y: hidden;
  // background-color: $color06;
  font-family: nunito;
  color: $mydark;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  position: static;
  transition: ease 1s;

  h1{
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }
  h2{
    font-size: 1rem;
    margin: 0;
    padding: 0;
    text-decoration: underline;
  }

  .container{
    display: block;
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: $white;
    margin: 0;
    padding: 0;
  }

  table{
    background-color: $white;
    border-collapse: collapse;
    thead, tbody, tr, td{
      border: solid 1px $mylight;
      margin: 0;
      padding: $defaultvalue02;
    }
    // tr:nth-child(even){
    //   background-color: $mylight;
    // }
    td{
      min-width: 75px;
      button, input{
        width: 10px !important;
      }
      .addoncart{
        appearance: textfield;
      }
    }
  }

  
  .infoblock{
    @include withtxtparams;
    ul{
        @include cleanmyul;
        li{
            display: flex;
            align-items: center;
            border-bottom: solid 1px $mylight;
            .item{
                display: block;
                width: 30%;
            }
            .response{
                display: block;
                width: 60%;
                .responseform{
                    display: flex;
                    width: 100%;
                    input:nth-child(1){
                        display: block;
                        width: 90%;
                    }
                    input:nth-child(2){
                        display: block;
                        width: 10%;
                    }
                }
            }
            .responseform{
                display: block;
                width: 60%
            }
            button{
                @include backofficebtn01;
                width: 10%;
            }
            .modifyprod{
                width: 90%;
                .nomproduit{
                    width: 100%;
                    text-align: left;
                    background-color: $white;
                    border: none;
                    box-shadow: none;
                }
            }
        }
    }
    .addproductclass{
        position: relative;
        width: fit-content;
        display: flex;
        .productclass{
            position: relative;
            min-width: 300px;
            padding: 0 $defaultvalue;
            display: flex;
            flex-direction: column;
        }
    }
  }

  .wishbutton, input{
      @include myinput;
  }
  .imginput{
    display:inline-block;
    max-width: 200px;
    width: 50%;
    min-width: 150px;
    padding: $defaultvalue;
    margin: $defaultvalue 0;
    // border-radius: $defaultradius;
    border: solid 1px $mylight;
  }

  Editor{
    background-color: white;
  }
  
  .modalleftcol{
    background: $color08;
    min-width: 350px;
    width: 30%;
    max-width: 35vw;
    margin: 1%;
    padding: 1%;
    select, input{
      width: 90% !important;
      // margin: auto !important;
    }
  }



  // ----------------------- Briques d'images
  .bricks{
    @include stdparams;
    // max-width: 60%;
  }
  .brickctnr{
    @include stdparams;
    margin: auto;
    display: flex;
    align-items: center;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    // min-width: 400px;
    // width: 70%;
    // max-width: 70%;
    .blockbrick{
      display: inline-block;
      position: relative;
      // vertical-align: top;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 150px;
      height: fit-content;
      margin: 1% 1%;
      padding: 0;
      // background: $neutre;
      // border: solid 2px $sabledore;
      border-radius: $defaultradius;
      box-shadow: $defaultshadow02;
      transition: all 0.3s ease-in-out;
      // overflow: hidden;
      div{
        display: flex;
        align-items: flex-start; /* Aligner l'image et la croix en haut */
        width: 150px;
        max-width: 250px;
        img{
          display: block;
          margin: auto;
          height: auto;
          width: 100%;
          // max-width: 150px;
        }
        .todeleteme{
          margin: auto;
          height: auto;
          max-width: 150px;
          display: inline-block;
          position: absolute;
          left: 90%;
          &::after{
            content: "X";
            font-size: 1rem;
            font-weight: bold;
            position: absolute;
            left: 75%;
            top: -13px;
            width: 30px;
            height: 25px;
            border-radius: 50px;
            background-color: rgba(78, 78, 78, 0.71);
            z-index: 10;
            padding-top: 3px;
            text-align: center;
            cursor: pointer;
            color: white;
          }
          &:hover::after {
            background-color: $color07;
          }
        }
        
        .todeleteme img {
          display: block;
          margin: 0; /* Enlever le margin auto pour éviter un centrage vertical */
          height: auto;
          max-width: 150px;
        }
      }
      input{
        border: none;
        width: 50px !important;
      }
    }
  }

  .separatecol{
    position: relative;
    display: flex;
    margin: auto;
    max-width: 95%;
    .col01{
      @include stdparams;
      padding : $defaultvalue02;
      img{
        display: block;
        margin: auto;
        height: auto;
        // max-width: 150px;
      }
      input{
        width: 30% !important;
        max-width: 300px !important;
        margin: 0 !important;
      }
    }
    .col02{
      @include stdparams;
      .modaldescript{
        min-width: 33vw;
        width: 40%;
        // background-color: red;
        padding: $defaultvalue03;
        border-top: solid 1px $mylight;
        p{
          text-align: left;
        }
        li{
          text-align: left;
        }
      }
      img{
        display: block;
        margin: auto;
        height: auto;
        max-width: 150px;
      }
    }
  }
  .lastbutton{
    @include stdparams;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    button{
      // text-align: center;
      @include backofficebtn01;
      margin: $defaultvalue03;
    }
  }
  textarea{
    display: block;
    position: relative;
    resize: vertical;
    width: 100%;
    min-width: 50%;
  }
  .myfontawesome{
    padding: $defaultvalue $defaultvalue02 !important;
    margin: $defaultvalue !important;
  }

  // --------------------------- MODAL : Aperçu - Grid image
  .imagegrid{
    position: relative;
    width: 33vw;
    display: grid;
    grid-template-columns: 1FR 1FR 1FR 1FR 1FR 1FR;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "bp bp bp bp bp bp"
    "ap01 ap02 ap03 ap04 ap05 ap06"
    ;
    .gridimage01, .gridimage02, .gridimage03, .gridimage04, .gridimage05, .gridimage06{
      position: relative;
      display: flex;
      width: fit-content;
      height: 40px;
      background-color: $white;
      padding: 0 !important;
      button{
        border-radius: 0;
        padding: 0;
        margin: 0;
        cursor: pointer;
        height: 100%;
        width: auto;
        overflow: hidden;
        img{
          height: 100%;
          width: auto;
        }
      }
    }
    // img{
    //   position: relative;
    //   width: 100%;
    //   height: max-content;
    // }
    .pplimage{
      grid-area: bp;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: auto;
      max-height: 70vh;
      overflow: hidden;
      padding: $defaultvalue03;
      img{
        display: block;
        width: 100% !important;
        height: auto;
        background-size: cover;
        background-position: center;
        box-shadow: $defaultshadow02;
      }

    }
    .gridimage01{
      grid-area: ap01;
    }
    .gridimage02{
      grid-area: ap02;
    }
    .gridimage03{
      grid-area: ap03;
    }
    .gridimage04{
      grid-area: ap04;
    }
    .gridimage05{
      grid-area: ap05;
    }
    .gridimage06{
      grid-area: ap06;
    }
  }

  // --------------------------- Section liste de produits : avec filtre
  
  .barfilter{
    position: relative;
    display: flex;
    width: 90%;
    padding: $defaultvalue02 0;
    align-items: center;
    // justify-content: center;
    select{
      margin: 0 $defaultvalue02;
      padding: $defaultvalue02;
      border: solid 1px $mylight;
      border-radius: $defaultradius;
      width: 20%;
      background-color: #fff;
      box-shadow: $defaultshadow02;
    }
    input[type='text']{
      box-shadow: $defaultshadow02;
      width: 20%;
    }
    .pricerange{
      width: 20%;
      overflow: visible;
      input[type='range']{
        box-shadow: $defaultshadow02;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 10px;
        overflow: visible;
      }
    }
  }
  .productslister{
    @include stdparams;
    margin: auto;
    position: relative;
    width: 100%;
    z-index: 2;
   // ---------------------------  Briques d'images
  .filteredproducts{
    @include stdparams;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: $defaultradius;
    background-color: #fff;
    padding: $defaultvalue03;
    z-index: 3;
    }
  }
 
  .productscontainer{
    @include stdparams;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 4;
  } 
  .productbox{
    position: relative;
    max-width: 245px;
    background-color: rgba(245, 245, 245, 0.562);
    box-shadow: $defaultshadow02;
    margin: $defaultvalue02;
    border: solid 1px $mylight;
    border-radius: $defaultradius;
    overflow: hidden;
  }
  .elementscontainer{
    position: relative;
    .imgsection {
      position: relative;
      overflow: hidden;
      max-height: 200px;
      border-bottom: solid 3px $mylight;
      &:hover {
        .apercu {
          top: -20px;
        }
        .productactions button:nth-of-type(1) {
          bottom: -175px;
        }
        .productactions button:nth-of-type(2) {
          bottom: -175px; 
        }
      }
      .apercu {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        color: $mylight;
        font-size: 1.5rem;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.75);
        top: -250px;
        transition: 1s ease-in-out;
      }
      .productactions {
        position: relative;
        width: 100%;
        display: flex; 
        justify-content: space-around; 
        transition: 0.5s ease-in-out;
    
        button {
          border: solid 1px $mylight;
          border-radius: $defaultradius;
          height: 30px;
          width: 40%; 
          box-shadow: $defaultshadow02;
          font-size: 0.7rem;
          margin: $defaultvalue;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 2;
          transition: 0.5s ease-in-out;
        }
        button:nth-of-type(1) {
          left : 5%;
          bottom: -300px; // Position initiale
          transition-delay: 0.1s; // Légère latence
        }
        button:nth-of-type(2) {
          left : 50%;
          bottom: -300px; // Position initiale
          transition-delay: 0.3s; // Latence légèrement plus longue
        }
      }
      button {
        position: relative;
        width: 100%;
        padding: 0;
        border: 0;
        cursor: pointer;
        img {
          position: relative;
          width: 100%;
    
          &:hover {
            background-color: rgba(0, 0, 0, 0.441);
          }
        }
      }
    }
    
    .txtsection{
      display: block;
      position: relative;
      a{
        color: $color07;
        cursor: pointer;
        &:hover{
          color: $mylight;
        }
        h3{
          position: inherit;
          display: block;
          margin: 0 auto;
          padding: $defaultvalue;
        }
      }
      .otherdetails{
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 0 $defaultvalue02 $defaultvalue02;
        span:nth-of-type(2) {
          color: $color08;
        }
      }
      .prixproduit{
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 0 $defaultvalue02 $defaultvalue02;
        align-items: flex-end;
        color: $styletext;
        font-size: 1rem;
        font-weight: 800;
      }
      .quantityproduit{
        position: relative;
        display: flex;
        padding: 0 $defaultvalue02 $defaultvalue02;
          .quantityinput{
            width: 50%;
            max-width: 50px !important;
          }

          button{
            border: solid 1px $mylight;
            border-radius: $defaultradius;
            background: $white;
            height: 35px;
            width: 50%;
            font-size: 0.7rem;
            background-color: $mylight;
            border: solid 2px $color09;
            box-shadow: $defaultshadow02;
            margin: $defaultvalue;
            cursor: pointer;
            &:hover{
              background-color: #fff;
              border: solid 2px $mylight;
            }
          }
      }
    }


  }



  .productfirstban{
    h2{
      padding: $defaultvalue02;
      font-size: 1.2rem;
      text-decoration: none;
      font-weight: bold;
    }
  }
  .productpage{
    background-color: #fff;
    box-shadow: $defaultshadow03;
  }

  .productsecondban{
    @include stdparams;
    @include withtxtparams;
    border: none;
    box-shadow: $defaultshadow03;
    background-color: #fff;
    display: block;
    position: relative;
    width: 70%;
    margin: auto;
    h3{
      padding: $defaultvalue02;
      font-size: 1.1rem;
      text-decoration: none;
      font-weight: bold;
    }
  }
  .productthirdban{
    @include stdparams;
    width: 80%;
    margin: $defaultvalue04 auto;
    .titlecontainer{
      width: 80%;
      margin: auto;
      h3{
        font-size: bold;
        font-size: 1.1rem;
        text-decoration: underline;
      }
    }
    .productdetails{
      @include stdparams;
      position: relative;
      width: 100%;
      margin: auto;
      padding: $defaultvalue03;
      box-shadow: $defaultshadow03;
      background-color: #fff;
      .productscontainer02{
        @include stdparams;
        display: flex;
        // align-items: center;
        // justify-content: left;
        overflow: auto;
        scrollbar-width: thin;
        padding: 0 10px;
        margin: $defaultvalue02 0;
        z-index: 4;

        .oneproduct{
          @include stdparams;
          min-width: 200px;
          max-width: 245px;
          margin: 10px;
          // width: 100%;
          h3{
            text-align: center;
          }
          
        }
      }

    }
  }
  // Promo
  .promo{
    position: absolute;
    overflow: visible;
    z-index: 2;
    &::after{
      content: 'PROMO';
      text-align: center;
      align-items: center;
      position: absolute;
      padding-top: 15px;
      top: 0;
      right: -30px;
      display: block;
      width: 100px;
      height: 40px;
      transform: rotate(35deg);
      color: $white;
      font-size: 1.3rem;
      font-weight: bold;
      background-color: orangered;
      z-index: 2;
      animation: hideme 1s infinite;
      
    }
      
    @keyframes hideme {
      0%, 100%{
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
    }
  }

  .homebutton{
    @include stdbtncolor;
    @include backofficebtn01;
    color: $white;
    background-color: $white;
    border: none;
    box-shadow: none;
    padding: 10px;
    margin: 10px;
    transition: 1.5s ease-in-out;
  }
  .homebutton02{
    @include stdbtncolor;
    @include backofficebtn01;
    box-shadow: $defaultshadow;
    padding: 10px;
    margin: 10px;
    transition: 1.5s ease-in-out;
  }
  .hideme{
    visibility: hidden;
  }
  
  .productandtext{
    @include stdparams;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100%;
    font-size: 1rem;
    background-color: whitesmoke; 
    text-align: center;
    padding: 20px;
  }


}
