.mphome{
    @include stdparams;
    background-color: $white;
    .firstbarr{
        @include flexbarr;
        justify-content: space-between;
        min-height: 70px;
        .leftpart{
            display: flex;
            align-items: center;
            width: 50%;
            button{
                @include softbutton;
                // height: 30px;
                &:hover{
                    color: $darker;
                }
            }
        }
        .rightpart{
            display: flex;
            justify-content: right;
            align-items: center;
            width: 50%;
        }
    }
    .secondbarr{
        @include flexbarr;
        height: 100%;
        .leftpart{
            @include stdparams;
            width: 75%;
            .carouselheader{
                h2{
                    text-decoration: none;
                    padding-bottom: 20px;
                    &::after{
                        @include titleafter;
                    }
                }
                .buttonline{
                    display: flex;
                    .first{
                        display: flex;
                        width: 50%;
                        button{
                            display: block;
                            height: 40px;
                            min-width: 33.3%;
                            border: none;
                            box-shadow: none;
                            padding: $defaultvalue;
                            background-color: $white;
                            color: $color08;
                            cursor: pointer;
                            border-left: solid 1px rgba(255, 255, 255, 0);
                            border-right: solid 1px rgba(255, 255, 255, 0);
                            border-bottom: solid 1px $mylight;
                            border-radius: $defaultradius $defaultradius 0 0;
                            &:hover{
                                color: $darker;
                                border-top: solid 1px $mylight;
                                border-left: solid 1px $mylight;
                                border-right: solid 1px $mylight;
                                border-bottom: solid 1px rgba(255, 255, 255, 0);
                                background-color: #c3ced751;
                            }
                        }
                        .highlightme{
                            color: $darker;
                            border-top: solid 1px $mylight;
                            border-left: solid 1px $mylight;
                            border-right: solid 1px $mylight;
                            border-bottom: solid 1px rgba(255, 255, 255, 0);
                        }
                    }
                    .last{
                        width: 50%;
                        border-bottom: solid 1px $mylight;
                    }
                }
                .pplcarousel{
                    @include stdparams;
                    height: 70vh;
                    // overflow: hidden;
                    border-right: solid 1px $mylight;
                    border-left: solid 1px $mylight;
                    border-bottom: solid 1px $mylight;
                    box-shadow: $defaultshadow02  $defaultshadow02 $defaultshadow02;
                }
            }
        }
        .rightpart{
            @include stdparams;
            width: 23%;
            height: 70vh;
            max-height: 80vh;
            overflow: visible;
            margin: auto;
            .pubcontainer{
                @include stdparams;
                display: flex;
                align-items: center;
                margin: auto;
                height: 100%;
                img{
                    margin: auto;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    .firstbann{
        @include stdparams;
        display: flex;
        align-items: center;
        margin: 5vh 0;
        width: 100%;
        min-height: 40vh;
        background: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../../public/image/carte.jpg');
        .banncontainer{
            position: relative;
            display: flex;
            width: 90%;
            // height: 100%;
            margin: auto;
            .col01{
                @include stdparams;
                width: 40%;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                .textcontainer{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    h2{
                        color: $styletext;
                    }
                    p{
                        color: $mylight;
                    }
                }
            }
            .col02{
                @include stdparams;
                position: relative;
                width: 25%;
                display: flex;
                flex-direction: column;

                .formcontainer{
                    // position: absolute;
                    // top: 50%;
                    padding:  50px $defaultvalue02 $defaultvalue02;
                    select, button{
                        display: block;
                        width: 100% !important;
                        //         display: block;
                        height: 30px;
                        border: none;
                        box-shadow: none;
                        padding: $defaultvalue;
                        margin: $defaultvalue 0;
                        background-color: $white;
                        color: $color08;
                        cursor: pointer;
                        &:hover{
                            color: $darker;
                        }
                    }
                }
           }
            .col03{
                @include stdparams;
                width: 25%;
           }
        }
    }
    .productfilter{
        @include stdparams;
        width: 90%;
        margin: auto;
        .filtercontainer{
            @include stdparams;
            width: 100%;
            h2{
                text-decoration: none;
                padding-bottom: 20px;
                &::after{
                    @include titleafter;
                }
            }
        }
    }
}