
#footer{
    @include stdparams;
    min-height: 20vh;
    background-color: $mydark;
    color: $mylight;
    border-top: solid 1rem $mylight;

    .footercontainer{
        display: flex;
        h2{
            text-decoration: underline;
            color: $styletext;
        }
        .colone{
            @include stdparams;
            width: 35%;
            padding: $defaultvalue04;
        }
        .coltwo{
            @include stdparams;
            width: 30%;
            padding: $defaultvalue04;
            ul{
                @include cleanmyul;
                li{
                    a{
                        @include stdlink01;
                    }
                }
            }
        }
        .colthree{
            @include stdparams;
            width: 35%;
            padding: $defaultvalue04;
            ul{
                @include cleanmyul;
            }
        }
    }
}