.modal {
  // @include stdparams;
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.8);
  z-index: 3;
  text-align: center;
  display: none;
  flex-direction: column;
  box-shadow: $defaultshadow;
  
  .modal-content {
    position: relative;
    padding: $defaultvalue04;
    width: fit-content;
    min-width: 40%;
    max-width: 85%;
    margin: 45px auto;
    background-color: $white;
    border-radius: $defaultradius;
    z-index: 5;
    color: $mydark;
    // height: fit-content + $extraHeight;
    // top: 50%;
    // transform: translateY(-50%);

    .modal-header {
      @include stdparams;
      .closemodal{
        position: absolute;
        left: 99%;
        top: -100%;
        &::after{
          content: "X";
          font-size: 1.5rem;
          font-weight: bold;
          width: 20px;
          height: 20px;
          position: absolute;
          cursor: pointer;
          top: 0%;
          left: 90%;
          background-color: rgba(0, 0, 0, 0.205);
          border-radius: 50%;
          padding: 5px 10px 12px 9px;
          z-index: 4;
        }
      }
    }
    .modal-body {
      @include stdparams;
      h2{
        padding: $defaultvalue02;
        font-size: 1.2rem;
        text-decoration: none;
        font-weight: bold;
      }
      .formcontainer {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: auto;
        background: $white;
        align-items: center;
        justify-content: center;
        h1 {
          color: $mydark;
        }
        form {
          min-width: 350px;
          width: 100%;
          max-width: 80vw;
          text-align: left;
          select {
            @include myinput;
          }
          input{
            min-width: 200px;
            width: 100%;
            max-width: 350px;
            margin: $defaultvalue02 auto;
          }
        }
      }

    }
    .modal-footer {
      @include stdparams;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: $defaultvalue03;
      button {
        width: 50%;
        max-width: 200px;
        min-width: 100px;
        @include backofficebtn01;
      }
      .linkbutton {
        border: none;
        background-color: $mydark;
        @include stdlink01;
        text-decoration: underline;
      }
    }
  }
}
