#navigation{
    display: block;
    position:static;
    width: 100%;
    z-index: 1;
    background-color: $mylight;
    .mylinks{
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 0 10%;
        .logocontainer{
            position: relative;
            padding: $defaultvalue;
        }
        .linkcontainer{
            position: relative;
            display: flex;
            align-items: center;
            a, button{
                padding: $defaultvalue;
                @include stdbtncolor;
                border: none;
            }
        }
    }
}
